* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 1rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  padding: 1rem 0rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 1rem 0rem;
}

h4 {
  font-size: 16px;
  color: #828282;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 1rem;
}

h6 {
  font-size: 10px;
  font-weight: 700;
  color: #bdbdbd;
  padding-bottom: 0.3rem;
}

p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

input[type=checkbox] {
  margin-right: 10px;
}
@media (max-width: 520px) {
  input[type=checkbox] {
    margin-right: 5px;
  }
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.fa-clock {
  color: #333;
}

.fa-spoon {
  color: #f2994a;
}

header {
  padding-top: 2rem;
}
@media (max-width: 768px) {
  header .container h1 {
    font-size: 38px;
  }
}
@media (max-width: 520px) {
  header .container h1 {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  header .container h1 {
    font-size: 23px;
  }
}
header .container .row {
  justify-content: flex-start;
}
header .container .row .image {
  width: 10px;
  height: 10px;
  align-self: flex-start;
  margin-right: 10px;
}
header .container h5 {
  color: #4f4f4f;
  width: 50%;
}
@media (max-width: 768px) {
  header .container h5 {
    width: 70%;
  }
}
@media (max-width: 500px) {
  header .container h5 {
    width: 90%;
    font-size: 12px;
  }
}

.container .row {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container .row {
    flex-wrap: wrap;
  }
}
.container .row .info {
  width: 70%;
}
@media (max-width: 768px) {
  .container .row .info {
    order: 2;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .container .row .info h2 {
    padding: 0;
  }
}
@media (max-width: 520px) {
  .container .row .info h2 {
    font-size: 22px;
  }
}
@media (max-width: 420px) {
  .container .row .info h2 {
    font-size: 18px;
  }
}
@media (max-width: 520px) {
  .container .row .info h3 {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .container .row .info h3 {
    font-size: 14px;
  }
}
.container .row .info p {
  width: 90%;
}
@media (max-width: 520px) {
  .container .row .info p {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .container .row .info p {
    font-size: 12px;
  }
}
.container .row .card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 3rem;
  width: 20%;
}
@media (max-width: 1024px) {
  .container .row .card {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .container .row .card {
    padding: 1rem 0rem;
    order: 1;
    width: 100%;
    box-shadow: none;
  }
}
.container .row .card .yields .item {
  display: flex;
  align-items: center;
}
.container .row .card .yields .item .fa-solid {
  font-size: 20px;
  padding-right: 20px;
}
@media (max-width: 420px) {
  .container .row .card .yields .item .fa-solid {
    font-size: 12px;
    padding-right: 10px;
  }
}
.container .row .card .yields h5 {
  font-style: normal;
  color: #f2994a;
}
@media (max-width: 420px) {
  .container .row .card .yields h5 {
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .container .row .card .yields h6 {
    font-size: 8px;
  }
}
.container .row .card .row {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .container .row .card .row {
    flex-wrap: nowrap;
  }
}
.container .row .card .row .item {
  max-width: 90%;
  display: flex;
  align-items: center;
}
.container .row .card .row .item .fa-solid {
  font-size: 20px;
  padding-right: 20px;
}
@media (max-width: 420px) {
  .container .row .card .row .item .fa-solid {
    font-size: 12px;
    padding-right: 10px;
  }
}
.container .row .card .row .item h5 {
  font-style: normal;
}
@media (max-width: 600px) {
  .container .row .card .row .item h5 {
    padding-bottom: 0;
  }
}
@media (max-width: 420px) {
  .container .row .card .row .item h5 {
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .container .row .card .row .item h6 {
    font-size: 8px;
  }
}

@media (max-width: 600px) {
  .instructions .container h2 {
    padding-top: 0rem;
  }
}
@media (max-width: 520px) {
  .instructions .container h2 {
    font-size: 22px;
  }
}
@media (max-width: 420px) {
  .instructions .container h2 {
    font-size: 18px;
  }
}
.instructions .container .row {
  justify-content: flex-start;
  align-items: center;
}
.instructions .container .row .image {
  width: 20px;
  height: 20px;
  justify-self: flex-start;
  align-self: flex-start;
}
@media (max-width: 420px) {
  .instructions .container .row .image {
    width: 15px;
    height: 15px;
  }
}
.instructions .container .row p {
  width: 70%;
  padding: 0rem 10px;
}
@media (max-width: 600px) {
  .instructions .container .row p {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .instructions .container .row p {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .instructions .container .row p {
    font-size: 12px;
  }
}
.instructions .container h4,
.instructions .container a {
  padding: 2rem 0rem;
  color: #828282;
  text-decoration: none;
}
@media (max-width: 600px) {
  .instructions .container h4,
.instructions .container a {
    padding: 1rem 0rem;
  }
}
@media (max-width: 600px) {
  .instructions .container h4,
.instructions .container a {
    padding: 0.5rem 0rem;
  }
}
@media (max-width: 520px) {
  .instructions .container h4,
.instructions .container a {
    font-size: 12px;
    width: 100%;
  }
}
@media (max-width: 420px) {
  .instructions .container h4,
.instructions .container a {
    padding: 0;
    text-align: center;
    font-size: 10px;
  }
}
@media (max-width: 345px) {
  .instructions .container h4,
.instructions .container a {
    font-size: 9px;
  }
}

footer {
  padding-top: 4em;
}
@media (max-width: 520px) {
  footer {
    padding-top: 2em;
  }
}
footer .info {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .info p,
footer .info a {
  color: #828282;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 520px) {
  footer .info p,
footer .info a {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  footer .info p,
footer .info a {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */